.shadow-lg-a {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .175) !important;
}
a:hover {
    color: var(--blue) !important;
}
.shadow-a0{
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, .15) !important;
}
.shadow-lg-a1 {
    box-shadow: inset 0 -2rem 3rem rgba(0, 0, 0, .15), inset 0 2rem 3rem rgba(0, 0, 0, .15) !important;
}
.nav-item:hover {
    border-bottom: 1px solid var(--gray) !important;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15) !important;
}