/* ----- JUMBOTRON CENTER INDEX ---- */

#spacing-center-home {display: none;}
#center-home-header {
    text-align: center !important;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}

/* ----- CARD PRESENTATION -----*/
#card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;  
}
#card-title {text-align: center !important;}
#p-sm-shown {display: none !important;}
#p-sm-hidden {display: block !important;}
.spacing-card-presentation{display: none !important;}

/* ----- CAROUSEL ----- */
#carousel h1{
    font-size: 1.25rem;
}