/* -----  EXPERIENCE ----- */
#img-diploma {
    width: auto !important;
    align-self: auto !important;
}
#img-i-uni {
    width: auto !important;
    align-self: auto !important;
}
#img-f-uni {
    width: auto !important;
    align-self: auto !important;
}
#img-stew {
    width: auto !important;
    align-self: auto !important;
}