@media only screen and (min-width: 90em) {

    header {padding: 4.5rem 5rem 1.5rem;}

    #form {
        padding: 2rem 5rem 4rem;
        padding-right: 9rem;
        top: 8rem;
    }
    
    footer {
        padding: 2.5rem  6.875rem;
    }
}