/* ===============  BODY  =============== */

body {
    overflow: hidden;
    overscroll-behavior: none;
}

/* ===============  HEADER  =============== */

header {
    align-self: stretch;
    padding: 4.5rem 1rem 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: flex;
}

#title {
    color: var(--white);
    font-size: 1.875em;
    font-family: IBM Plex Mono;
    font-weight: 500;
    word-wrap: break-word;
}

#subtitle {
    align-self: stretch;
    color: var(--white);
    font-size: 1em;
    font-family: IBM Plex Mono;
    font-weight: 500;
    word-wrap: break-word;
}


/* ===============  FORM  =============== */

#form {
    align-self: stretch;
    padding: 2rem 1.5rem 4rem;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
    display: flex;
}

form {
    align-self: stretch;
    padding: 1rem 1.5rem 2rem;
    background: rgba(243, 243, 243, 0.1);
    border-radius: 1.25rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
}

.input-container {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    display: flex;
}

.label-section {
    align-self: stretch;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    display: inline-flex;
}

#input-email {
    align-self: stretch; 
    padding: 0.75rem 1rem;
    background: var(--Andre-white, #F3F3F3); 
    border-radius: 0.5rem; 
    outline: 1px var(--Andre-black, #080808) solid; 
    outline-offset: -1px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 0.635rem;
    display: inline-flex;
}

#input-message {
    align-self: stretch;
    padding: 0.75rem 1rem;
    background: var(--white);
    border-radius: 0.5rem;
    outline: 1px var(--black) solid;
    outline-offset: -1px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.635rem;
    display: flex;
}

label {
    flex: 1 1 0;
    color: var(--accent);
    font-size: 0.75em;
    font-family: Rajdhani;
    font-weight: 500;
    word-wrap: break-word;
}

input {
    flex: 1 1 0;
    color: var(--black);
    font-size: 0.875em;
    font-family: Rajdhani;
    font-weight: 500;
    word-wrap: break-word;
}

textarea {
    resize: none;
    align-self: stretch;
    color: var(--black);
    font-size: 0.875em;
    font-family: Rajdhani;
    font-weight: 500;
    word-wrap: break-word;
}

#contact-container  {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    display: flex;
}

#form-text {
    color: var(--white);
    font-size: 0.875em;
    font-family: Rajdhani;
    font-weight: 500;
    word-wrap: break-word;
}

.contacts {
    justify-content: flex-start; 
    align-items: center; 
    gap: 0,625rem; 
    display: inline-flex;
}

.common-text {
    color: var(--Andre-accent, #358E99); 
    font-size: 16px; 
    font-family: IBM Plex Mono; 
    font-weight: 500; 
    word-wrap: break-word;
}