@media only screen and (min-width: 48em) {
    #mobile {display: none;}
    #medium {display: inline-flex;}

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .title::after {width: 0;}
    .experience-box:hover > .title::after {width: 100%;}
    
}

@media only screen and (min-width: 64em) {

    #medium {padding: 2% 4%;}

    footer {padding: 40px 54px;}
}