@media only screen and (min-width: 768px) {
    
    #mobile {display: none;}
    #medium {display: inline-flex;}

    header {
        padding: 25% 36px;
        gap: 48px;
    }
    
    #title-shadow {
        font-size: 40px;
        left: 51px;
        top: 54px;
    }

    #title-header {height: 150px;}
    .title-text {font-size: 40px;}
    #subtitle {font-size: 20px;}

    #fom {padding-bottom: 120px;}
    #fom-text{font-size: 24px;}
    #arrow {width: 28px; height: 28px;}

    #experiments, #skills, #about {
        padding-left: 36px;
        padding-right: 36px;
    }
    .common-text{font-size: 16px;}
    .skills-section-title{font-size: 16px;}
    #about-title, #skills-title, #exp-title{font-size: 36px;}
    

    #exp-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .exp-section{width: 100%;}

    #s-mobile{display: none;}
    #s-medium{display: inline;}
}