@media only screen and (min-width: 768px) {
    
    #mobile {display: none;}

    #medium {display: inline-flex;}

    #fom {bottom: 90px;}

    header {
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 40px;
        padding-right: 40px;
        gap: 48px;
    }

    #title-shadow {
        left: 44px;
        top: 48px;
        font-size: 35px;
    }

    .title-text {font-size: 35px;}

    #subtitle {font-size: 20px;}
}